<div align="center">

# Popular City and Busiest Day Analysis
    
</div>

In [31]:
# Jay's Block 

# TODO :
# * Most popular city (Based on Revenue) - Jav
# * Busiest day per city? - Jay

In [32]:
import numpy as np
import pandas as pd

In [33]:
# ------------------------------------------------------------------------ #

<div align="center">

# --- Most Popular City --- #
-- (Based on Revenue) --
</div>

In [34]:
df = pd.read_csv('./Sales-Data-Analysis.csv')
df

,Order ID,Date,Product,Price,Quantity,Purchase Type,Payment Method,Manager,City
0,10452,07-11-2022,Fries,3.49,573.07,Online,Gift Card,Tom Jackson,London
1,10453,07-11-2022,Beverages,2.95,745.76,Online,Gift Card,Pablo Perez,Madrid
2,10454,07-11-2022,Sides & Other,4.99,200.40,In-store,Gift Card,Joao Silva,Lisbon
3,10455,08-11-2022,Burgers,12.99,569.67,In-store,Credit Card,Walter Muller,Berlin
4,10456,08-11-2022,Chicken Sandwiches,9.95,201.01,In-store,Credit Card,Walter Muller,Berlin
...,...,...,...,...,...,...,...,...,...
249,10709,28-12-2022,Sides & Other,4.99,200.40,Drive-thru,Gift Card,Walter Muller,Berlin
250,10710,29-12-2022,Burgers,12.99,754.43,Drive-thru,Gift Card,Walter Muller,Berlin
251,10711,29-12-2022,Chicken Sandwiches,9.95,281.41,Drive-thru,Gift Card,Walter Muller,Berlin
252,10712,29-12-2022,Fries,3.49,630.37,Drive-thru,Gift Card,Walter Muller,Berlin
253,10713,29-12-2022,Beverages,2.95,677.97,Drive-thru,Gift Card,Walter Muller,Berlin

In [35]:
def round_digits(num):
    return np.round(num, 2)

In [36]:
df['Revenue'] = (df['Price'] * df['Quantity']).apply(round_digits)
df['Revenue']

0      2000.01
1      2199.99
2      1000.00
3      7400.01
4      2000.05
        ...
249    1000.00
250    9800.05
251    2800.03
252    2199.99
253    2000.01
Name: Revenue, Length: 254, dtype: float64

In [38]:
city_revenue = df.groupby('City', as_index=False)['Revenue'].sum()
city_revenue = city_revenue.sort_values("Revenue", ascending=False)
top_city = city_revenue.iloc[0]

In [44]:
print("Most Popular City (Based on Revenue):")
print(top_city)
print("\nComplete Table:")
print(city_revenue)

Most Popular City (Based on Revenue):
City          Lisbon
Revenue    241714.11
Name: 1, dtype: object

Complete Table:
     City    Revenue
1  Lisbon  241714.11
2  London  211201.05
3  Madrid  136200.29
0  Berlin  100600.13
4   Paris   79800.31

In [ ]:
# ------------------------------------------------------------------------ #

<div align="center">

# --- Busiest Day per City? --- #
</div>

In [48]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
df['Revenue']
# ? df['Revenue'] = (df['Price'] * df['Quantity']).apply(round_digits)

city_day = df.groupby(["City", "Date"],  as_index=False)['Revenue'].sum()
city_day

      City       Date   Revenue
0   Berlin 2022-11-08  10400.06
1   Berlin 2022-12-24   5200.00
2   Berlin 2022-12-25  16599.98
3   Berlin 2022-12-26  17000.02
4   Berlin 2022-12-27  17000.02
..     ...        ...       ...
61   Paris 2022-11-22  13599.99
62   Paris 2022-11-23   8200.05
63   Paris 2022-12-01   5000.02
64   Paris 2022-12-02  14000.06
65   Paris 2022-12-03   8800.06

[66 rows x 3 columns]

In [50]:
busiest_day_per_city = city_day.loc[city_day.groupby('City')['Revenue'].idxmax()]

In [51]:
print("Busiest Day Per City:\n")
print(busiest_day_per_city)

Busiest Day Per City:

      City       Date   Revenue
5   Berlin 2022-12-28  17599.97
8   Lisbon 2022-11-13  19074.45
42  London 2022-12-11  15000.09
53  Madrid 2022-11-18  14400.11
59   Paris 2022-11-09  14200.04